<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Új űrhajó</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">

    <form class="form" data-th-action="@{/spaceship}" data-th-object="${newShip}" method="post">

        <label for="type">Hajó típusa</label>
        <select id="type" data-th-field="*{spaceShipClass}">
            <option data-th-each="shipClass : ${shipClasses}"
                    data-th-value="${shipClass}"
                    data-th-text="${shipClass}">
            </option>
        </select>
        <label for="name">Hajó neve</label>
        <input id="name" placeholder="név" type="text" data-th-field="*{name}" />
        <label for="checkbox">Aktív</label>
        <input id="checkbox" type="checkbox" data-th-field="*{active}" />

        <button class="send_button">Új hajó létrehozása</button>

    </form>

</div>

</body>

</html>